{% load wagtailsettings_tags %}
{% load image from wagtailimages_tags %}
{% load navigation_tags %}

{% get_settings %}
{% image settings.invest.Branding.logo width-176 as logo %}
{% image settings.invest.Branding.logo width-352 as logo_2x %}

{% image settings.invest.Branding.footer_logo width-148 as footer_logo %}
{% image settings.invest.Branding.footer_logo width-296 as footer_logo_2x %}
<footer id="footer" class="static-header-footer">
  <nav class="container">
    <div class="link-group">
        <img id="footer-dit-logo" src="{{ logo.url }}" width="{{ logo.width }}" height="{{ logo.height }}" srcset="{{ logo_2x.url }} 2x" alt="{{ logo.alt }}" />
        <img id="footer-eig-logo" src="{{ footer_logo.url }}" width="{{ footer_logo.width }}" height="{{ footer_logo.height }}" srcset="{{ footer_logo_2x.url }} 2x" alt="{{ footer_logo.alt }}" />
    </div>
    <div class="link-group">
      <ul class="navigation">
        <li class=" home active">
          <a href="https://invest.great.uat.uktrade.io/" role="menuitem">Home</a>
        </li>

        <li class=" industries">
          <a href="https://invest.great.uat.uktrade.io/industries/" role="menuitem">Industries</a>
        </li>

        <li class=" uksetupguidetest">
          <a href="https://invest.great.uat.uktrade.io/uk-setup-guide/" role="menuitem">UK Setup Guide Test</a>
        </li>

        <li class=" contactus">
          <a href="https://invest.great.uat.uktrade.io/contact-us/" role="menuitem">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="site-links container">
    <ul class="navigation">
      <li><a href="https://great.gov.uk">Part of Great.gov.uk</a></li>
      <li><a href="https://invest.great.uat.uktrade.io/terms-and-conditions/">Terms and conditions</a></li>
      <li><a href="https://invest.great.uat.uktrade.io/privacy-and-cookies/">Privacy and cookies</a></li>
      <li><a href="https://www.gov.uk/government/organisations/department-for-international-trade">Department for International Trade</a></li>
    </ul>
  </div>
  <div class="global-footer">
    <p class="container"><span id="footer-copyright">© Crown copyright 2018. All rights reserved.</span></p>
  </div>
</footer>
