<footer id="footer" class="static-header-footer">
  <nav class="container">
    <div class="link-group"><img id="footer-dit-logo" src="/assets/logos/DfIT_WHITE_AW-3662bf777e5792493edd02d8b7ca07f58478d6f64c9890b8e937804fc3493c32.png" alt="Department for International Trade" height="70px"><img id="footer-eig-logo" src="https://iigb-invest-staging.s3.amazonaws.com/images/footer-logo-fs8.width-296.png" alt="Invest in Great" height="82px">
    </div>
    <div class="link-group">
      <ul class="navigation">
        <li class=" home active">
          <a href="https://invest.great.uat.uktrade.io/" role="menuitem">Home</a>
        </li>

        <li class=" industries">
          <a href="https://invest.great.uat.uktrade.io/industries/" role="menuitem">Industries</a>
        </li>

        <li class=" uksetupguidetest">
          <a href="https://invest.great.uat.uktrade.io/uk-setup-guide/" role="menuitem">UK Setup Guide Test</a>
        </li>

        <li class=" contactus">
          <a href="https://invest.great.uat.uktrade.io/contact-us/" role="menuitem">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="site-links container">
    <ul class="navigation">
      <li><a href="https://great.gov.uk">Part of Great.gov.uk</a></li>
      <li><a href="https://invest.great.uat.uktrade.io/terms-and-conditions/">Terms and conditions</a></li>
      <li><a href="https://invest.great.uat.uktrade.io/privacy-and-cookies/">Privacy and cookies</a></li>
      <li><a href="https://www.gov.uk/government/organisations/department-for-international-trade">Department for International Trade</a></li>
    </ul>
  </div>
  <div class="global-footer">
    <p class="container"><span id="footer-copyright">© Crown copyright 2018. All rights reserved.</span></p>
  </div>
</footer>
