{% load i18n %}
{% load wagtail_modeltranslation %}
<section id="language-bar" class="collapse">
<div class="container">
    <div class="content content-compact content-runon card-deck language-selector">
      {% get_available_languages_wmt as languages %}
      {% for language in languages %}
        <div class="lang col-sm-3 col-md-2 col-xl-1"><a href="{% change_lang language %}">{{ language|language_name_local|capfirst }}</a></div>
      {% endfor %}
    </div>
</div>
</section>


<section role="dialog" data-component="language-selector-dialog" data-lang="en" data-label="UK" data-name="English" class="language-selector-dialog">
  <p id="great-languages-selector">Choose your language</p>
  <div data-node="languages" class="languages">
    <ul aria-labelledby="great-languages-selector" class="navigation">
      {% get_available_languages_wmt as languages %}
      {% for language in languages %}
        <div class="lang col-sm-3 col-md-2 col-xl-1"><a href="{% change_lang language %}">{{ language|language_name_local|capfirst }}</a></div>
      {% endfor %}
    </ul>
  </div>
</section>

