{# section containing image card #}
{% load wagtailcore_tags %}
{% load i18n %}
<section id="{{ id }}">
  {% if title != None %}
  <div class="container content content-invest content-underlined{% if classes %} {{ classes }}{% endif %}">
    {% if title %}
      <div class="row content-header">
        <div class="col-12">
          <h2>{{ title }}</h2>
        </div>
      </div>
    {% endif %}
  {% endif %}
    <div class="row">
      <div class="card-deck-wrapper col-12">
        <div class="card-deck">
          {% for card in cards %}
            {% include "includes/image_card.html" %}
          {% endfor %}
        </div>
      </div>

      {% if show_more_button != None %}
        {% get_current_language as LANGUAGE %}
        {% if LANGUAGE != 'en' %}
          <a href="/{{LANGUAGE}}/industries" class="button-ghost-blue">{{ show_more_button }}</a>
        {% else %}
          <a href="{% slugurl 'industries' %}" class="button-ghost-blue">{{ show_more_button }}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</section>
