{% extends 'base.html' %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}

<section class="error">
  <div class="container content content-invest">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1 class="heading-xlarge">{% trans "This page cannot be found." %}</h1>
        <ul class="list list-bullet">
          <li>{% trans "If you entered a web address please check it’s correct." %}</li>
          <li>{% trans "If you followed a link here, " %}<a class="link" href="{% slugurl 'feedback' %}">{% trans "let us know" %}</a></li>
          <li><a class="link" href="{% slugurl 'home' %}">{% trans "Go to the homepage" %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
