{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <section class="error">
    <div class="container content content-invest">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1 class="heading-xlarge">{% trans "This page is unavailable" %}</h1>
          <ul class="list-bullet list">
            <li>{% trans "We’re experiencing technical problems." %}</li>
            <li>{% trans "Try again in a few moments." %}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
