
@import '../partials/colours';

/* accordion component */
#accordion {
  background-color: white;

  .card {
    display: block;
    z-index: 1;
  }

  a {
    display: inline-block;
  }

  a:focus .card-header {
    outline: 3px $focus-yellow;
  }
}

#accordion .card-header {
  border-top: solid 1px #d8d8d8;
  border-radius: 0 0 0 0 !important;
  border-bottom: none;
  font-weight: bold;
  font-size: 1.5rem;
  min-height: 3rem;
  padding: 15px 40px 15px 15px;
}

#accordion a.card-link:active .card-header,
#accordion a.card-link:link .card-header,
#accordion a.card-link:hover .card-header,
#accordion a.card-link:visited .card-header {
  color: #00549F;
  background-color: #fcfbf9;

}

#accordion a.card-link.collapsed:active .card-header,
#accordion a.card-link.collapsed:link .card-header,
#accordion a.card-link.collapsed:hover .card-header,
#accordion a.card-link.collapsed:visited .card-header {
  color: #006ccc;
  background-color: white;
}

#accordion .card-header:after {
  color: black;
  font-weight: bolder;
  content: '–';
  font-size: 1.5rem;
  position: absolute;
  right: 1.1rem;
  top: 1rem;
}

#accordion .card-link.collapsed .card-header:after {
  content: '+';
  position: absolute;
  right: 1.1rem;
}

#accordion .card:nth-last-child(2) .card-header{
  border-bottom: solid 1px #d8d8d8;
}

#accordion .card-block {
  padding: 30px 0 60px;
  font-size: 1.188rem;
}

#accordion .card-block ul {
  list-style-position: inside;
  padding-left: 15px;
}

#accordion .card-block ul li {
  list-style: none;
  padding-left: 15px;
}

#accordion .card-block ul li:before {
  content: '\2022';
  color: #dfd5c5;
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: -.5rem;
  font-size: 2rem;
  position: absolute;
  left: 0;
}

#accordion .card-block h1,
#accordion .card-block h2,
#accordion .card-block h3 {
  font-size: 1.5rem;
}

#accordion .card p {
  font-size: 1.2rem;
  text-align: justify;
  text-justify: auto;
}

@media (max-width: 576px) {
  #accordion {
    .card-header {
      font-size: 1.25rem;
    }

    .card-block {
      font-size: 1rem;
      padding-bottom: 30px;
    }
  }
}
