#beta-bar {
  background-color: white;

  .container {
    flex-direction: row;
    display: flex;
  }

  .beta {
    display: flex;
  }

  .phase-tag {
    align-items: center;
    display: flex;

    span {
      background: #006ccc;
      color: white;
      font-weight: bold;
      font-size: 16px;
      padding: 2px 5px 0;
      margin: 0 8px 0 0;
    }
  }

  .beta-description {
    display: block;
    color: #999999;
    font-size: 15px;
    padding: 4px 15px;
    margin: 5px;
  }

  .beta-description a:active,
  .beta-description a:hover,
  .beta-description a:link,
  .beta-description a:visited {
    text-decoration: underline;
  }

  .beta-description > p {
    display: inline;
    margin: 0;
  }

  .beta-description a {
    color: #1b7cd1;
  }
}
