
// Buttons

// get rid of this once we have export-elements

.button-ghost-blue {
  padding: 10px 45px;
  border: 2px solid;
  border-color: #006ccc;
  color: #006ccc;
  font-weight: 700;
  font-size: 19px;

  &:hover {
    background-color: #006ccc;
    color: white;
    text-decoration: none;
  }
}

.button-ghost-white {
  padding: 10px 45px;
  border: 2px solid;
  border-color: white;
  color: white;
  font-weight: 700;
  font-size: 19px;

  &:hover {
    background-color: white;
    color: #333;
    text-decoration: none;
  }
}


a.button-ghost-white {
  color: white;
}
