
/** hero component */
/* #heading_hero used on sector and invest content pages */
#heading_hero .jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 84, 159, 0.8);
  padding: 0;
  min-height: 295px;
  margin-bottom: 0;
  display: flex;
}

#heading_hero .jumbotron .container {
  height: inherit;
  flex-grow: 1;
  position: relative;
}

#heading_hero .heading {
  min-width: 200px;
  min-height: 100px;
  max-width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 84, 159, 0.8);
  border-bottom: 4px solid #e41f13;
}

#heading_hero .heading h1 {
  padding: 20px;
  margin-bottom: 0;
  line-height: 1.3em;
  text-transform: uppercase;
}

/* #heading_hero_tall used on homepage */
#heading_hero_tall .jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-bottom: 0;
  background-color: #020b16;
  padding: 60px 0;
}

#heading_hero_tall > .jumbotron .row {
  padding-top: 0;
  position: relative;
}

#heading_hero_tall .heading {
  color: white;
  padding: 15px;
}

#heading_hero_tall .heading h1 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 30px;
  line-height: 1.15em;
}

#heading_hero_tall h2 {
  font-weight: normal;
  line-height: 2rem;
}

/* #heading_plain used on auxilery pages */
#heading_plain {
  background: #00549f;
}

#heading_plain .row {
  position: relative;
  min-height: 295px;
  margin-right: 50px;
}

#heading_plain .container  {
  background: inherit;
}

#heading_plain .heading {
  position: absolute;
  bottom: 0;
  left: 30px;
  border-bottom: 4px solid #e41f13;
}

#heading_plain h1 {
  text-transform: uppercase;
  background: white;
  padding: 25px 25px 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 2.25rem;
  height: 196px;
}

.heading h1 {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.heading h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.home_page .heading h1 {
  font-family: 'Overpass', 'verdana', 'helvetica', 'arial', sans-serif;
  font-size: 3.25rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  #heading_hero .heading {
    max-width: 400px;
  }
}

@media (max-width: 767px) {
  #heading_hero .heading {
    max-width: 100%;

    h1 {
      font-size: 2rem;
    }
  }
}
