
/* how we help cards */
#how-we-help .card {
  padding: 0;
}

#how-we-help .card-block {
  min-height: 8rem;
  min-width: 310px;
  padding: 5px 0 0;
}

#how-we-help .card-header {
  background-color: inherit;
  border-bottom: none;
}

#how-we-help .card-header .underline {
  padding-bottom: 25px;
  border-bottom: 2px solid red;
  display: inline-block;
}

#how-we-help .card-header a.btn {
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  #how-we-help {
    .card {
      flex-direction: row;
      display: flex;
      margin-bottom: 30px;
    }

    .card-header {
      width: auto;
      margin-right: 30px;

      a.btn {
        margin-bottom: 15px;
      }
    }

    .card-block {
      width: calc(100% - 64px);
      min-height: 0;
      min-width: 0;
      height: auto;
    }

    .card .card-header a {
      margin-top: 30px;

      .card-header {
        height: auto;
      }
    }
  }
}
