
/** pullout component */
#pullout {
  background-color: #fcfbf9;
  padding: 0;
  margin-bottom: 0;

  .row {
    padding: 30px 0;
  }

  .container {
    background-color: inherit;
    padding-top: 0;
  }

  .text {
    font-size: 1.25rem;
    display: inline-block;
    overflow-x: hidden;
    width: 75%;
    margin-top: 16px;
    padding-right: calc(100% / 8);
    vertical-align: top;
  }

  .stat {
    padding-left: 19px;
    border-left: 3px #01539e solid;
    display: inline-block;
  }

  .stat span {
    color: #01539e;
    font-size: 4rem;
    font-weight: normal;
    line-height: 1;
    display: block;
    margin-bottom: 15px;
  }

  .stat p {
    font-size: 1.187rem;
  }
}

.dark {
  background-color: #1d1348;
  color: white;
}

.dark .container {
  background-color: inherit;
}

.dark .btn-link {
  border: 2px solid white;
}

.dark .btn-link a:active,
.dark .btn-link a:hover,
.dark .btn-link a:link,
.dark .btn-link a:visited
{
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 992px) {
  #pullout {
    .stat span {
      font-size: 3rem;
    }
  }
}

@media (max-width: 767px) {
  #pullout {
    .row {
      flex-direction: column-reverse;
    }

    .text {
      width: 100%;
      font-size: 1.125rem;
      padding-right: 0;
    }

    .stat span {
      font-size: 3rem;
    }
  }

  #subsections {
    .content {
      padding-top: 30px;
    }
  }
}
