
/* sector cards */
#sector .card-block {
  height: 210px;
}

#sector .container:last-child:after {
  border-bottom: #e41f13 2px solid;
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

#sector .card {
  text-align: left;
  margin-bottom: 30px;
}

#sector .card-header {
  text-align: left;
  margin-right: auto;
  padding: 0px !important;
  border-bottom: none;
  background: #006dcc;
  color: white;
  display: inline-block;
  min-height: 40px;
}

#sector .card-header h3 {
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 20px;
}

#sector .card-header h3 a {
  color: white;
  text-decoration: none;
}

#sector .card-img-top {
  max-height: 150px;
  object-fit: cover;
}


#sector .card-block {
  border: 1px #d8d8d8 solid;
  min-height: 200px;
}
