
@import '../partials/colours';

/* sector cards */
#sector {
  .container:last-child:after {
    border-bottom: #e41f13 2px solid;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
  }

  .card {
    text-align: left;
    margin-bottom: 30px;

    a {
      color: #333;
      text-decoration: none;
    }

    a:focus {
      .card-block {
        border-color: white;
        outline: 3px solid $focus-yellow;
      }
    }

    a:focus:active {
      .card-block {
        border-color: $focus-yellow;
        background-color: $focus-yellow;
      }
    }

    .card-block {
      height: 210px;
      min-height: 200px;
      border: 1px #d8d8d8 solid;
      border-top: 0;
    }

    .card-header {
      text-align: left;
      margin-right: auto;
      border-bottom: none;
      background: #006dcc;
      color: white;
      display: inline-block;
      min-height: 40px;

      h3 {
        padding: 0.5rem;
        font-size: 1.125rem;
        font-weight: bold;
        margin: 0 20px;
      }

      a {
        display: block;
        color: white;
        text-decoration: none;
      }
    }

    .card-img-top {
      max-height: 150px;
      object-fit: cover;
    }

    .labelled-card-link:focus {
      outline: 0;
      background: none;

      .card-header, .card-img-top {
        outline: 3px solid $focus-yellow;
      }
    }
  }
}

@media (max-width: 767px) {
  #sector .card .card-block {
    min-height: auto;
    height: auto;
  }
}
