
/* setup guide cards */
#guides {
  background: #fcfbf9;
}

#guides > .container {
  background-color: inherit;
}

#guides .card {
  border: 1px solid #ddd;
  background-color: white;
  margin-bottom: 30px;

  a {
    color: #333;
    text-decoration: none;
  }
}

#guides .card-block {
  min-height: 360px;
}

#guides h3 {
  padding-bottom: 15px;
  min-height: 2.9em;
}

#guides a:active h3,
#guides a:hover h3,
#guides a:link h3,
#guides a:visited h3
{
  color: #006ccc;
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: bold;
}
