
@import 'partials/base';
@import 'partials/bs4-overrides';
@import 'partials/links';
@import 'partials/content-sections';
@import 'components/accordion';
@import 'components/beta-bar';
@import 'components/hero';
@import 'components/how-we-help';
@import 'components/sector-cards';
@import 'components/setup-cards';
@import 'components/buttons';
@import 'partials/markdown';
@import 'components/pullout';
@import 'components/crispy-forms';
@import 'components/footer';
@import 'components/modal';

.controls input[type='radio'] {
  margin-right: 15px;
  float: left;
}
.controls label {
  display: block !important;
}
