#sector {
  .card, .card .card-header {
    text-align: right;
  }
  .card .card-header {
    margin: 0 0 0 auto;
  }
}


#accordion .card-link.collapsed .card-header:after,
#accordion .card-header:after {
  left: 0;
  right: auto;
  margin-left: 10px;
}

#accordion .card-block ul li:before {
  left: auto;
  right: 0;
}

#pullout .stat {
  padding-left: 0;
  padding-right: 19px;
  border-left: 0;
  border-right: 3px #01539e solid;
}

#heading_hero_tall {
  background: black;

  .jumbotron {
    background-position: 100%;
  }
}

@media (min-width: 1010px) {
  #heading_hero_tall {
    .jumbotron {
      background-position: 120%;
    }
  }
}

#language-bar,
nav.navbar {
  direction: ltr;
}

#footer {
  ul.secondary-nav {
    margin-left: 0;
  }

  .content-underlined-flow .row {
    flex-direction: row-reverse;
  }

  .footer-branding {
    direction: ltr;
  }
}
