body {
  font-family: 'Roboto', 'verdana', 'helvetica', 'arial', sans-serif;
  background-color: #160d37;

  section {
    background: white;
  }
}

:lang(de) {
  h1, h2, h3, h4, h5, h6 {
    hyphens: auto;
  }

  #heading_hero_tall .heading {
    h1, h2 {
      hyphens: none;
    }
  }
}
