
/** bs4 customisations - these should be done by setting up variables.scss */
h1, h2 {
  font-weight: bold;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  hyphens: auto; // important for german headings in particular
}

.btn {
  border-radius: 0;
  padding: 12px 30px;
}

.btn-primary {
  background-color: #006ccc;
}

/* bs4 customisation - outer elements */
section > .navbar {
  max-width: 1200px !important;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  border-radius: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 0;
  padding-right: 0;
}

/* bs4 customisation innner elements */
.card {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0 0 0 0 !important;
  background-color: inherit;
  border-style: none;
}

.card-header {
  background-color: inherit;
  padding: 0;
}

.card-block {
  padding: 30px;
}

/** bs4 customisations: disable rounded corners on cards */
.card-header:first-child {
  border-radius: 0;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

nav.mb-4, nav.my-4 {
  margin-bottom: 0 !important;
}

nav .container {
  background: inherit;
  padding-top: 0;
}

#skip-link {
  background-color: #ffbf47;
  color: #132965;
  display: inline-block;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  text-indent: -1000px;
  z-index: -1;
}

#skip-link:focus {
  left: 0;
  text-indent: 0;
  top: 0;
  z-index: 1;
}

#language-bar .language-selector {
  background: white;
  padding: 30px;
}

#language-bar .language-selector .lang {
  font-size: 1.125rem;
  font-weight: bold;
}

.lang a:active,
.lang a:hover,
.lang a:link,
.lang a:visited {
  text-decoration: underline;
}

.language-toggle {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 5px;
  height: auto;
  font-weight: bold;

  span {
    color: white;
  }
}


.language-icon {
  padding-right: 10px;
}

/* navbar */
.navbar {
  background: #1e1348;
  border-bottom: none;
  margin-bottom: 0;
  padding: 0;
  display: block;

  .container {
    position: relative;
  }
}

.navbar-collapse {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  flex-grow: 0;
}

.navbar-brand {
  margin: 25px 0;
}

.navbar-toggler {
  border: 2px white solid;
  margin-top: 30px;
  padding: 0;
  color: white;
  background-color: #1e1348;
  border-radius: 0;
  height: 50px;
  width: 104px;
  font-size: 15px;
  font-family: 'Roboto', 'verdana', 'helvetica', 'arial', sans-serif;
  position: relative;

  span {
    margin: 5px 15px 0 0;
    background-color: #fff;
    clear: right;
    content: "";
    float: right;
    height: 2px;
    width: 20px;
  }

  span:before {
    background-color: #fff;
    clear: right;
    content: "";
    float: right;
    height: 2px;
    margin: -5px 0 8px 10px;
    width: 20px;
  }

  span:after {
    background-color: #fff;
    clear: right;
    content: "";
    float: right;
    height: 2px;
    margin: 0 0 8px 10px;
    width: 20px;
  }
}

.navbar-toggler:focus {
  outline: 3px solid #ffbf47;
}

.navbar-togger.collapsed {

}

.navbar-toggler:focus {
  background-color: #00549f;
  outline-color: #ffbf47;
}

.navbar-toggler-icon {
  text-wrap: avoid;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='17' height='12'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D%3C/style%3E%3Cpath class='st0' d='M0 0h17v2H0zM0 5h17v2H0zM0 10h17v2H0z'/%3E%3C/svg%3E");
  margin-left: .5rem;
}

@media only screen and (max-width: 767px) {
  .language-toggle {
    right: 0;
  }

  .navbar-collapse {
    position: static;
    display: none;
    margin: 0 auto;

    ul.navbar-nav li a {
      max-width: 540px;
      margin: 0 auto;
      height: auto;
    }
  }

  .navbar .container:nth-child(2) {
    margin: 0;
    padding: 0;
    max-width: none;
  }
  .navbar-collapse.show,
  .navbar-collapse.collapsing {
    background-color: #00549f;
    width: 100%;
    z-index: 1;
    height: auto;
  }

  .navbar-collapse.show ul.navbar-nav li,
  .navbar-collapse.collapsing ul.navbar-nav li {
    padding: 0;
    font-size: 19px;
    border-bottom: #999999 solid 1px;
    margin: 0;
  }

  .navbar-collapse.show ul.navbar-nav li a,
  .navbar-collapse.collapsing ul.navbar-nav li a {
    display: block;
    padding: 15px;
  }

  .navbar-collapse.show ul.navbar-nav li.active,
  .navbar-collapse.collapsing ul.navbar-nav li.active {
    border-bottom: #999999 solid 1px;
  }
}

.navbar-nav {
  margin-top: auto;
}

.focusable:focus,
a:focus:not(.unfocusable){
  outline: 3px solid #ffbf47;
}

.navbar-nav li {
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}

.navbar-nav li.active {
  border-bottom: 3px solid #e41f13;
}

.navbar-nav li.active a {
  color: white !important;
  font-weight: bold;
  background: inherit !important;
}

.navbar-nav li a:active,
.navbar-nav li a:link,
.navbar-nav li a:hover,
.navbar-nav li a:visited {
  color: white !important;
  font-weight: bold;
  font-size: .938rem;
  background: inherit !important;
  text-decoration: none;
  height:40px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.badge {
  border-radius: 0;
  color: white;
  padding: 8px 0;
  margin: 5px 0;
  font-size: 1rem;
}

.badge-primary {
  background: #01539d;
}
/* bs4 customisations - end */

@media (max-width: 767px) {
  .navbar .container {
    position: relative;
    padding: 0 15px;
  }

  .navbar-menus {
    height: auto;
    position: absolute;
    top: 5px;
    right: 0;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 30px;
  }

  .language-toggle {
    right: 15px;
  }
}
