
/* content sections */
.content {
  padding-top: 60px;
}

.content-compact {
  padding-bottom: 0;
}

.content-runon {
  padding-top: 0px;
}

.content-invest {
  background-color: white;
}

.content-guides {
  background-color: #fcfbf9;
}

.content-underlined {
  padding-bottom: 0;
}

.content-underlined:after {
  content: "";
  display: block;
  padding-top: 90px;
}

.content-underlined.content-underlined-compact:after {
  padding-top: 50px;
}

.content-underlined.content-underlined-flow:after {
  padding-top: 0;
  height: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.content-underlined:after {
  content: "";
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.content-underlined:after {
  border-bottom: #e41f13 2px solid;
}

.content-footer .page-nav {

}
.content-footer.content-underlined:after {
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.content-footer-secondary {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.content-header {
  margin-bottom: 50px;
}

.content-header-subheader {
  margin-bottom: 30px;
}
